/* Importación de la fuente base */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;500&family=Inter:wght@400;700&display=swap');

/* Definición de variables CSS */
:root {

  /* Colores */
  --dark-blue-500: #052051;
  --dark-blue-400: #072B61;
  --dark-blue-300: #0A3871;
  --dark-blue-200: #356EA9;
  --dark-blue-100: #609ED4;
  --light-blue-500: #757FB2;
  --light-blue-400: #AAB2D5;
  --light-blue-300: #E9ECF8;
  --light-blue-200: #EFF1FA;
  --light-blue-100: #F3F5FC;
  --gray-500: #343A40;
  --gray-400: #495057;
  --gray-300: #868E96;
  --gray-200: #ADB5BD;
  --gray-100: #CED4DA;
  --white-color: #FFFFFF;

  /* Tipografía*/
  --main-font: "Inter";
  --reg-font: 400;
  --bold-font: 700;
  --xl-font: 2rem;
  --lg-font: 1.5rem;
  --md-font: 1rem;
  --sm-font: .75rem;

  /* Layout */
  --max-width: 1200px;
  --btn-radius: 1.5rem;
  --header-height: 6rem;
  --btn-borde-color: var(--dark-blue-400);
  --btn-main-bg: var(--dark-blue-400);

  /* Transiciones */
  --transition-time: .3s;
  --transition-move: ease-out;
}

/* Reseteos base */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
  margin: 0;
  padding: 0;
	font-family: var(--main-font);
	font-weight: var(--reg-font);
	font-size: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Clases utilitarias para el proyecto*/
.container {
  display: flex;
  flex-wrap: wrap;
	max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.full { max-width: 100%; }

.row {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
	/* flex-grow: 1; */
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-size: var(--md-font);
  border-radius: var(--btn-radius);
  width: 100%;
  border: none;
  cursor: pointer;
}

.main-btn {
  background-color: var(--dark-blue-300);
  color: var(--white-color);
  transition: background-color var(--transition-time) var(--transition-move);
}

.main-btn:hover {
  background-color: var(--dark-blue-400);
}

.light-btn {
  background-color: transparent;
  border: 1px solid var(--dark-blue-400);
  color: var(--dark-blue-400);
  transition: background-color var(--transition-time) var(--transition-move);
}

.light-btn:hover {
  background-color: var(--light-blue-200);
}

.align-center { text-align: center; }


/* Clases de estilo general */
.body {
  background-color: var(--light-blue-100);
  min-height: 100vh;
  height: 100%;
}

.main {
	width: 100%;
	height: 100%;
	min-height: 100vh;
}

.header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: var(--header-height);
}

.user-entry {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.user-text {
  width: 100%;
  flex-basis: 0;
  flex-grow: 1000;
  font-family: var(--main-font);
  font-size: var(--xl-font);
  font-weight: var(--reg-font);
  color: var(--dark-blue-300);
	padding-top: 6rem;
  border: none;
  line-height: 150%;
  margin-bottom: 4rem;
  background-color: var(--light-blue-100);
}

.user-text::placeholder { color: var(--dark-blue-300); }

.user-text:focus, .output-success_content { outline-style: none; }

.user-notice {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: content;
  flex-grow: 1;
  gap: 8px;
  margin-bottom: 1rem;
}

.user-notice_content {
  font-size: var(--sm-font);
  color: var(--gray-400);
  line-height: 18px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.encrypt, .decrypt { flex-grow: 1; }

/* Contenedor para la gestión de si el usario a ejecutado o no la encirptación/desencriptación */

.output {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 2rem;
}

.output-frame {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 2rem;
	padding: 2rem;
  background-color: var(--white-color);
  box-shadow: 0 1.5rem 2rem -.5rem rgba(0 0 0 / .08);
}

.output-empty {
  position: relative;
  width: 100%;
	height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
	display: none;
	visibility: hidden;
}

/* .output-empty_image { display: none; } */

.output-empty_title {
  font-weight: var(--bold-font);
  font-size: var(--lg-font);
  color: var(--gray-500);
  margin-bottom: 1rem;
  line-height: 120%;
}

.output-empty_text {
  color: var(--gray-400);
  line-height: 150%;
}

/* Contenedor para la gestión de si el usario a ejecutado o no la encriptación/desencriptación */
.output-success {
	position: relative;
	width: 100%;
	height: 100%;
  font-size: var(--lg-font);
  color: var(--gray-400);
  line-height: 150%;
	flex-direction: column;
	justify-content: space-between;
	display: none;
	visibility: hidden;
}

.output-success_content {
	width: 100%;
	height: inherit;
	border: none;
	margin-bottom: 2rem;
	word-break: break-word;
	font-size: 1.5rem;
	color: var(--gray-400);
}

.is-visible {
	display: flex;
	visibility: visible;
}

/* Media-queries para el diseño responsivo */
@media screen and (min-width: 768px) {
	.encrypt, .decrypt { flex-basis: 0; }
}

@media screen and (min-width: 1024px) {
  .lg-10 { width: 10% }
  .lg-40 { width: 40% }
  .lg-60 { width: 60% }
  .lg-90 { width: 90% }

  .buttons-container { margin-bottom: 4rem; }

  .empty {
    flex-direction: column;
		align-items: center;
  }

  .empty-image {
		display: block;
		margin-bottom: 2rem;
	}
}
